language: node_js
node_js:
  - "lts/*"
  - "node"

cache: yarn
before_install:
  - nvm install --lts
  - nvm use --lts
before_script:
  - yarn run build:node
  - yarn run build:test
  - nvm use $TRAVIS_NODE_VERSION